.wrapper{
}

.quote-box{
    background: white;
    width: 450px;
    padding: 40px 50px;
    border-radius: 3px;
    transition: all 1s linear 0.1s;
}
.quote-text{
    font-size: 2rem;
}
#text{
    text-align: center;
}
.quote-author{
    margin-top: 1rem;
    text-align: right;
}
.qt{
    transition: all 1s linear 0.1s;
}
.qt-enter {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.qt-enter-active {
    opacity: 0;
    visibility: hidden;
}
.qt-exit {
    opacity: 0;
    visibility: hidden;
}
.qt-exit-active {
    opacity: 0;
    visibility: hidden;
}
.quote-actions{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.quote-actions button{
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.7rem 1rem;
    transition: background-color 1s linear 0.1s;
}
.quote-actions a{
    color: inherit;
    text-decoration: none;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}